<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>Filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMovie</servlet-name>
        <servlet-class>Controller.ListMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTicket</servlet-name>
        <servlet-class>Controller.OrderTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inforMovie</servlet-name>
        <servlet-class>Controller.inforMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleBooking</servlet-name>
        <servlet-class>Controller.ScheduleBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaBooking</servlet-name>
        <servlet-class>Controller.CinemaBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleBooking</servlet-name>
        <url-pattern>/schedulebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMovie</servlet-name>
        <url-pattern>/ListMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTicket</servlet-name>
        <url-pattern>/OrderTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inforMovie</servlet-name>
        <url-pattern>/inforMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaBooking</servlet-name>
        <url-pattern>/CinemaBooking</url-pattern>
    </servlet-mapping>
</web-app>
